click==8.1.7
hydrus-api==4.0.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
onnxruntime-gpu==1.18.1
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cublas-cu11==11.11.3.6
nvidia-cufft-cu11==10.9.0.58
nvidia-cudnn-cu11==8.9.5.29
